<article class="user-dash">
  <section class="row search-bar card">
    <div class="tag-container sexy">
      <input type="text" id="tokenfield" name="tags" placeholder="" class="tm-input"/>
    </div>
  </section>

<!--
  <section class="row card question-wrapper">

    <section class="card-question-container col-md-12">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <p>Question text goes here</p>
        <div class="vote-container">
<i class="fa fa-thumbs-o-down fa-2x"></i>
<i class="fa fa-thumbs-o-up fa-2x"></i>


        </div>
      </div>
      <div class="col-md-1"></div>
    </section>

  </section>
-->

<section class="row card search-results">
  <div class="connections-wrapper col-md-12">

    <div class="connection  row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "anurag.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Anurag Pandit</h4>
        <p class="title"><b>Product Manager</b> - Box</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>

    <div class="connection  row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "tess.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Tess Rinearson</h4>
        <p class="title"><b>Software Engineer</b> - Medium</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>
  </div>

  <div class="connection  row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "rachel.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Rachel Heimendinger</h4>
      <p class="title"><b>Customer Engagement &amp; Social Media Manager</b> - Mobilligy</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>
</div>

<div class="connection  row connection">
  <div class="col-md-2 col-md-offset-1">
    <%= image_tag "abhishek.jpg", :class => "profile-image profile-image-small" %>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h4 class="name">Abhishek Choudhary</h4>
    <p class="title"><b>Software Engineer</b> - Redfin</p>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <i class="fa fa-envelope-o fa-2x"></i>
  </div>
</div>
</div>

<div class="connection  row connection">
  <div class="col-md-2 col-md-offset-1">
    <%= image_tag "mitra.jpg", :class => "profile-image profile-image-small" %>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h4 class="name">Mitra Raman</h4>
    <p class="title"><b>Software Engineer</b> - Amazon</p>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <i class="fa fa-envelope-o fa-2x"></i>
  </div>
</div>
</div>

<div class="connection  row connection">
  <div class="col-md-2 col-md-offset-1">
    <%= image_tag "johnston.jpg", :class => "profile-image profile-image-small" %>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h4 class="name">Johnston Jiaa</h4>
    <p class="title"><b>Software Engineer</b> - Etsy</p>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <i class="fa fa-envelope-o fa-2x"></i>
  </div>
</div>

  <div class="connection  row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "person.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Jenny Murphy</h4>
      <p class="title"><b>Software Engineer</b> - Google</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "elizabeth.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Elizabeth Buchanan</h4>
      <p class="title"><b>Tech Engineer</b> - Procter &amp; Gamble</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "caroline.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Caroline Horn</h4>
      <p class="title"><b>Labs Product Engineer</b> - Indeed.com</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "jeff.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Jeff Lale</h4>
      <p class="title"><b>iOS Performance Engineer</b> - Apple</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "gloria.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Gloria Lin</h4>
      <p class="title"><b>Shipping Leader</b> - PepsiCo</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

</div>

<!-- Modal -->

<div class="modal fade bs-example-modal-sm" id="successModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body success">

        <i class="fa fa-inbox fa-4x"></i>
        <h2>Congrats! Your Email was Sent!</h2>
        <p>If all goes well we will reach out to you with your recommendation. In the meantime, feel free to return to the dashboard to explore more opportunities.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send an Message to Jenny Murphy</h4>
      </div>
      <div class="modal-body">


        <textarea class="form-control message-box" rows="10">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit malesuada erat, in bibendum massa. In elementum, orci vitae pulvinar sagittis, purus nisi auctor enim, vel pulvinar metus leo at dolor. Duis augue odio, egestas quis elit at, dapibus blandit quam. Aliquam ut enim quis mi lobortis sodales a quis leo. Cras luctus eget leo id adipiscing. Nunc tellus mauris, dignissim vel nulla quis, faucibus eleifend quam. Vestibulum sagittis, tortor non egestas commodo, neque urna auctor ipsum, eu cursus nulla neque eget diam. Proin varius tellus tortor, id hendrerit enim eleifend eget. Mauris quis libero ultricies, interdum risus dapibus, congue tortor. Quisque sem elit, rhoncus in auctor vitae, pellentesque nec dui.

          Praesent sit amet congue arcu, id molestie dolor. Proin diam nisl, tempor ac lectus a, blandit cursus elit. Sed tortor lorem, mollis porttitor adipiscing eu, porttitor in lectus. Donec ultricies euismod eros, at lacinia lectus. Nulla sit amet elit mi. Aliquam volutpat, nisi non mollis interdum, elit lorem tristique lacus, quis tincidunt justo lacus vitae dui. Sed imperdiet pretium adipiscing. Curabitur molestie consectetur ultrices.

          Aenean interdum cursus enim aliquam semper. Morbi hendrerit metus sapien, id faucibus tellus bibendum nec. Integer consectetur pellentesque congue. Nunc vel turpis pretium, laoreet massa vitae, tincidunt dui. Nulla facilisi. Proin at nisi dui. Nam facilisis pharetra orci vel elementum. Integer eleifend faucibus tincidunt.
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary" id="sendMail">Send mail</button>
      </div>
    </div>
  </div>
</div>

</section>

</article>