<article class="user-dash">
  <section class="row search-bar card">
    <div class="tag-container sexy">
      <input type="text" id="tokenfield" name="tags" placeholder="" class="tm-input"/>
    </div>
  </section>

<!--
  <section class="row card question-wrapper">

    <section class="card-question-container col-md-12">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <p>Question text goes here</p>
        <div class="vote-container">
<i class="fa fa-thumbs-o-down fa-2x"></i>
<i class="fa fa-thumbs-o-up fa-2x"></i>


        </div>
      </div>
      <div class="col-md-1"></div>
    </section>

  </section>
-->

<section class="row card search-results">
  <div class="connections-wrapper col-md-12">

    <div class="connection card row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "anurag.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Anurag Pandit</h4>
        <p class="title"><b>Product Manager</b> - Box</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>

    <div class="connection card row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "tess.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Tess Rinearson</h4>
        <p class="title"><b>Software Engineer</b> - Medium</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>

    <div class="connection card row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "rachel.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Rachel Heimendinger</h4>
        <p class="title"><b>Customer Engagement &amp; Social Media Manager</b> - Mobilligy</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
       </div>
    </div>

    <div class="connection card row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "abhishek.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Abhishek Choudhary</h4>
        <p class="title"><b>Software Engineer</b> - Redfin</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
         <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>

    <div class="connection card row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "mitra.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Mitra Raman</h4>
        <p class="title"><b>Software Engineer</b> - Amazon</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>

    <div class="connection card row connection">
      <div class="col-md-2 col-md-offset-1">
        <%= image_tag "johnston.jpg", :class => "profile-image profile-image-small" %>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4 class="name">Johnston Jiaa</h4>
        <p class="title"><b>Software Engineer</b> - Etsy</p>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <i class="fa fa-envelope-o fa-2x"></i>
      </div>
    </div>

  <div class="connection  card row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "person.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Jenny Murphy</h4>
      <p class="title"><b>Software Engineer</b> - Google</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  card row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "elizabeth.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Elizabeth Buchanan</h4>
      <p class="title"><b>Tech Engineer</b> - Procter &amp; Gamble</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection card row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "caroline.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Caroline Horn</h4>
      <p class="title"><b>Labs Product Engineer</b> - Indeed.com</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  card row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "jeff.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Jeff Lale</h4>
      <p class="title"><b>iOS Performance Engineer</b> - Apple</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

  <div class="connection  card row connection">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "gloria.jpg", :class => "profile-image profile-image-small" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4 class="name">Gloria Lin</h4>
      <p class="title"><b>Shipping Leader</b> - PepsiCo</p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <i class="fa fa-envelope-o fa-2x"></i>
    </div>
  </div>

</div>

<!-- Modal -->

<div class="modal fade bs-example-modal-sm" id="successModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body success">

        <i class="fa fa-inbox fa-4x"></i>
        <h2>Congrats! Your Email was Sent!</h2>
        <p>If all goes well we will reach out to you with your recommendation. In the meantime, feel free to return to the dashboard to explore more opportunities.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send an Message to Jenny Murphy</h4>
      </div>
      <div class="modal-body">


        <textarea class="form-control message-box" rows="10">
  Hi Tess,

          I'm currently a sophomore at University of Illinois at Urbana Champaign studying Computer Science. I'm currently searching for an internship, and Box sounds like a really exciting company so I was wondering if I could pick your brain being a recent graduate of UIUC yourself, and learn more about what it's like there.

          I've attached my resume here as well. Really appreciate it!

  Thanks,
  Brendan
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary" id="sendMail">Send mail</button>
      </div>
    </div>
  </div>
</div>

</section>

</article>